USE [QuanLyTourDuLich_K235480206061]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeTrangThaiTour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================
-- Author:      Đàm Ngọc Sơn
-- Create date: 2026-04-24
-- Description: Thống kê tổng lượng khách và phân loại trạng thái tour
-- =============================================================
CREATE FUNCTION [dbo].[fn_ThongKeTrangThaiTour]()
RETURNS @ThongKeTable TABLE (
    MaTour VARCHAR(10), 
    TenTour NVARCHAR(200), 
    TongKhach INT, 
    TrangThai NVARCHAR(50)
)
AS
BEGIN
    -- Bước 1: Nạp dữ liệu cơ bản và tính tổng khách vào biến bảng
    INSERT INTO @ThongKeTable (MaTour, TenTour, TongKhach)
    SELECT T.[MaTour], T.[TenTour], ISNULL(SUM(D.[SoNguoiDi]), 0)
    FROM [Tour] T
    LEFT JOIN [DangKyTour] D ON T.[MaTour] = D.[MaTour]
    GROUP BY T.[MaTour], T.[TenTour];

    -- Bước 2: Xử lý logic phức tạp để cập nhật trạng thái (Multi-statement)
    UPDATE @ThongKeTable
    SET [TrangThai] = CASE 
        WHEN [TongKhach] > 10 THEN N'Tour Hot'
        WHEN [TongKhach] BETWEEN 1 AND 10 THEN N'Đang nhận khách'
        ELSE N'Tour Trống'
    END;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhGiaSauThue]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhGiaSauThue](@MaTour VARCHAR(10))
RETURNS MONEY
AS
BEGIN
    DECLARE @GiaSauThue MONEY;
    SELECT @GiaSauThue = [GiaTour] * 1.1 FROM [Tour] WHERE [MaTour] = @MaTour;
    RETURN @GiaSauThue;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienDangKy]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTienDangKy](@MaDangKy INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongTien MONEY;
    -- Truy vấn lấy đơn giá từ bảng Tour nhân với số người từ bảng DangKyTour
    SELECT @TongTien = D.[SoNguoiDi] * T.[GiaTour]
    FROM [DangKyTour] D
    JOIN [Tour] T ON D.[MaTour] = T.[MaTour]
    WHERE D.[MaDangKy] = @MaDangKy;
    
    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[DangKyTour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyTour](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhach] [nvarchar](100) NOT NULL,
	[MaTour] [varchar](10) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[SoNguoiDi] [int] NULL,
	[TongChiTieuKhach] [money] NULL,
	[HangThanhVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKyTour] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LocKhachTheoTour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LocKhachTheoTour](@MaTour VARCHAR(10))
RETURNS TABLE
AS
RETURN (
    SELECT [HoTenKhach], [NgayDangKy], [SoNguoiDi]
    FROM [DangKyTour]
    WHERE [MaTour] = @MaTour
);
GO
/****** Object:  Table [dbo].[LoaiTour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTour](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LoaiTour] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[MaTour] [varchar](10) NOT NULL,
	[TenTour] [nvarchar](200) NOT NULL,
	[GiaTour] [money] NOT NULL,
	[MaLoai] [int] NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LocTourTheoKhoangGia]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================
-- Author:      Đàm Ngọc Sơn
-- Create date: 2026-04-24
-- Description: Lọc danh sách các tour nằm trong khoảng giá yêu cầu
-- =============================================================
CREATE FUNCTION [dbo].[fn_LocTourTheoKhoangGia](@GiaTu MONEY, @GiaDen MONEY)
RETURNS TABLE
AS
RETURN (
    SELECT T.[MaTour], T.[TenTour], T.[GiaTour], L.[TenLoai]
    FROM [Tour] T
    JOIN [LoaiTour] L ON T.[MaLoai] = L.[MaLoai]
    WHERE T.[GiaTour] BETWEEN @GiaTu AND @GiaDen
);
GO
SET IDENTITY_INSERT [dbo].[DangKyTour] ON 

INSERT [dbo].[DangKyTour] ([MaDangKy], [HoTenKhach], [MaTour], [NgayDangKy], [SoNguoiDi], [TongChiTieuKhach], [HangThanhVien]) VALUES (501, N'Phạm Thị Linh', N'T007', CAST(N'2026-04-18T03:08:48.563' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[DangKyTour] ([MaDangKy], [HoTenKhach], [MaTour], [NgayDangKy], [SoNguoiDi], [TongChiTieuKhach], [HangThanhVien]) VALUES (502, N'Bùi Minh An', N'T015', CAST(N'2026-03-06T03:08:48.563' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[DangKyTour] ([MaDangKy], [HoTenKhach], [MaTour], [NgayDangKy], [SoNguoiDi], [TongChiTieuKhach], [HangThanhVien]) VALUES (503, N'Trần Hải Bình', N'T009', CAST(N'2026-03-18T03:08:48.563' AS DateTime), 4, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DangKyTour] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTour] ON 

INSERT [dbo].[LoaiTour] ([MaLoai], [TenLoai]) VALUES (21, N'Du lịch Biển')
INSERT [dbo].[LoaiTour] ([MaLoai], [TenLoai]) VALUES (22, N'Khám phá Núi')
INSERT [dbo].[LoaiTour] ([MaLoai], [TenLoai]) VALUES (23, N'Nghỉ dưỡng Cao cấp')
SET IDENTITY_INSERT [dbo].[LoaiTour] OFF
GO
INSERT [dbo].[Tour] ([MaTour], [TenTour], [GiaTour], [MaLoai]) VALUES (N'T001', N'Vịnh Hạ Long', 3000000.0000, 24)
INSERT [dbo].[Tour] ([MaTour], [TenTour], [GiaTour], [MaLoai]) VALUES (N'T002', N'Đỉnh Fansipan', 4500000.0000, 24)
INSERT [dbo].[Tour] ([MaTour], [TenTour], [GiaTour], [MaLoai]) VALUES (N'T003', N'Phố cổ Hội An', 2000000.0000, 23)
GO
ALTER TABLE [dbo].[DangKyTour] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyTour] ADD  DEFAULT ((1)) FOR [SoNguoiDi]
GO
ALTER TABLE [dbo].[DangKyTour] ADD  DEFAULT ((0)) FOR [TongChiTieuKhach]
GO
ALTER TABLE [dbo].[DangKyTour] ADD  DEFAULT (N'Thường') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[DangKyTour]  WITH CHECK ADD  CONSTRAINT [FK_DangKyTour_Tour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[Tour] ([MaTour])
GO
ALTER TABLE [dbo].[DangKyTour] CHECK CONSTRAINT [FK_DangKyTour_Tour]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_LoaiTour] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiTour] ([MaLoai])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_LoaiTour]
GO
ALTER TABLE [dbo].[DangKyTour]  WITH CHECK ADD  CONSTRAINT [CK_SoNguoi] CHECK  (([SoNguoiDi]>=(1)))
GO
ALTER TABLE [dbo].[DangKyTour] CHECK CONSTRAINT [CK_SoNguoi]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [CK_GiaTour] CHECK  (([GiaTour]>(0)))
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [CK_GiaTour]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKhachDoanVIP]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoKhachDoanVIP] 
AS
BEGIN
   
    SELECT 
        D.HoTenKhach AS [Tên Khách Hàng],
        T.TenTour AS [Tên Hành Trình],
        L.TenLoai AS [Loại Hình Tour],
        D.SoNguoiDi AS [Số Lượng Khách],
        FORMAT(D.SoNguoiDi * T.GiaTour, 'N0') + ' VND' AS [Tổng Giá Trị]
    FROM [DangKyTour] D
    INNER JOIN [Tour] T ON D.MaTour = T.MaTour
    INNER JOIN [LoaiTour] L ON T.MaLoai = L.MaLoai
    WHERE D.SoNguoiDi >= 5  
    ORDER BY D.SoNguoiDi DESC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoanhThuTheoLoai]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Đàm Ngọc Sơn
-- Create date: 2026-04-24
-- Description: Tính tổng doanh thu theo loại tour và trả về qua tham số OUTPUT
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetDoanhThuTheoLoai]
    @MaLoai INT,
    @TongTien MONEY OUTPUT
AS
BEGIN
    -- Tính toán dựa trên Join bảng Tour và DangKyTour
    SELECT @TongTien = SUM(D.SoNguoiDi * T.GiaTour)
    FROM [DangKyTour] D
    JOIN [Tour] T ON D.MaTour = T.MaTour
    WHERE T.MaLoai = @MaLoai;

    -- Nếu NULL thì gán bằng 0
    SET @TongTien = ISNULL(@TongTien, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDangKyTour]    Script Date: 4/24/2026 5:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDangKyTour]
    @TenKhach NVARCHAR(100),
    @MaT VARCHAR(10),
    @SoNguoi INT
AS
BEGIN
    -- 1. Kiểm tra mã Tour có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [Tour] WHERE [MaTour] = @MaT)
    BEGIN
        PRINT N'Lỗi: Mã Tour không tồn tại trên hệ thống.';
        RETURN;
    END

    -- 2. Kiểm tra số lượng người (Giới hạn xe 40 chỗ)
    IF @SoNguoi > 40 OR @SoNguoi <= 0
    BEGIN
        PRINT N'Lỗi: Số người đi không hợp lệ (Phải từ 1 đến 40).';
        RETURN;
    END

    -- 3. Thực hiện Insert nếu thỏa mãn điều kiện
    INSERT INTO [DangKyTour] (HoTenKhach, MaTour, NgayDangKy, SoNguoiDi)
    VALUES (@TenKhach, @MaT, GETDATE(), @SoNguoi);
    
    PRINT N'Đăng ký tour thành công cho khách: ' + @TenKhach;
END;
GO
